---
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts.ts";

import {
  getAllArticles,
  getAllCategories,
  getTailArticlePath,
} from "@/lib/tail.ts";

import Layout from "@/layouts/AllArticleListLayout.astro";

const allArticles = await getAllArticles();
const allCategories = await getAllCategories(allArticles);

const maxArticlesPerCategory = 10; // 最大表示件数
---

<Layout
  title={`全ての記事 | ${SITE_TITLE}`}
  description={SITE_DESCRIPTION}
  index={true}
  breadcrumb={[
    { name: "PineDuck", symbol: "pineduck", url: "https://pineduck.jp/" },
    {
      name: "アヒルのしっぽ",
      symbol: "duck-tail",
      url: "https://pineduck.jp/duck-tail/",
    },
    { name: "すべての記事", symbol: "all" },
  ]}
  prevUrl="https://pineduck.jp/duck-tail/"
>
  {
    allCategories.map((category) => (
      <section>
        <a class="category-link" href={`/${category.id}/`}>
          <h2>
            <span class="category-name">{category.data.name}</span>
          </h2>
        </a>
        <ul>
          {allArticles
            .filter((article) => article.data.category.id === category.id)
            .slice(0, maxArticlesPerCategory)
            .map((article) => (
              <li>
                <a href={`${getTailArticlePath(article)}?prev=%2F`}>
                  <img src={article.data.heroImage} alt={article.data.title} />
                </a>
              </li>
            ))}
        </ul>
      </section>
    ))
  }
</Layout>
