---
import type { BreadcrumbTrail } from "@/types/breadcrumb.ts";

import "@/styles/footer.css";

export interface Props {
  prevUrl: string;
  nextUrl?: string;
  breadcrumb?: BreadcrumbTrail;
}

const { prevUrl, nextUrl, breadcrumb } = Astro.props;
---

<footer>
  <a id="prev" class="footer-button" href={prevUrl}>&lt;&lt; 戻る</a>
  <button id="open-menu" class="footer-button" aria-label="メニューを開く">
    <span data-sprite="menu"></span>
    メニュー
  </button>
  <button id="close-menu" class="footer-button" aria-label="メニューを閉じる">
    × 閉じる
  </button>
  <a
    id="next"
    class={nextUrl ? "footer-button" : "footer-button disabled"}
    href={nextUrl ? nextUrl : ""}>&gt;&gt; 進む</a
  >
</footer>

<div id="menu-popup">
  {
    breadcrumb && (
      <ul class="breadcrumb">
        {breadcrumb?.map((item) => (
          <li class="breadcrumb-item">
            {item.url ? (
              <a class="breadcrumb-data" href={item.url}>
                <span data-sprite={item.symbol} />
                <span class="breadcrumb-label">{item.name}</span>
              </a>
            ) : (
              <span class="breadcrumb-data">
                <span data-sprite={item.symbol} />
                <span class="breadcrumb-label">{item.name}</span>
              </span>
            )}
          </li>
        ))}
      </ul>
    )
  }
  <ul id="menu-list"></ul>
</div>

<script>
  const main = document.querySelector("main") as HTMLElement;

  // サブタイトルを取得してメニューに表示
  function getSubTitle() {
    const h2 = main.querySelectorAll("h2") as NodeListOf<HTMLHeadingElement>;
    const menuList = document.getElementById("menu-list") as HTMLUListElement;
    if (h2.length > 0) {
      // サブタイトルがある場合はメニューに追加
      h2.forEach((subtitle, index) => {
        const li = document.createElement("li");
        // サブタイトルにidを付与
        subtitle.id = `${index}`;
        const a = document.createElement("a");
        a.href = `#${subtitle.id}`;
        a.textContent = subtitle.textContent;
        a.addEventListener("click", () => scrollToHash(subtitle.id));
        li.appendChild(a);
        menuList.appendChild(li);
      });
    }
  }
  window.addEventListener("DOMContentLoaded", getSubTitle);

  // 履歴を残さずにページ内リンクで移動する
  function scrollToHash(id: string) {
    const target = document.getElementById(id);
    if (target) {
      // 履歴を残さずにURLのハッシュを変更
      history.replaceState(null, "", `#${id}`);
      // スムーズスクロールで移動
      target.scrollIntoView({ behavior: "smooth" });
    }
  }

  const openMenuButton = document.getElementById(
    "open-menu",
  ) as HTMLButtonElement;
  const closeMenuButton = document.getElementById(
    "close-menu",
  ) as HTMLButtonElement;
  const menuPopup = document.getElementById("menu-popup") as HTMLDivElement;

  // メニューを開く
  function openMenu() {
    menuPopup.style.display = "flex";
    openMenuButton.style.display = "none";
    closeMenuButton.style.display = "flex";
    // メニュー外をクリックしたら閉じるイベントを追加
    document.addEventListener("click", clickOutsideMenu);
  }
  openMenuButton.addEventListener("click", openMenu);

  // メニューを閉じる
  function closeMenu() {
    menuPopup.style.display = "none";
    openMenuButton.style.display = "flex";
    closeMenuButton.style.display = "none";
    // メニュー外をクリックしたら閉じるイベントを削除
    document.removeEventListener("click", clickOutsideMenu);
  }
  closeMenuButton.addEventListener("click", closeMenu);

  // メニュー外をクリックしたら閉じる
  function clickOutsideMenu(event: MouseEvent) {
    if (
      !menuPopup.contains(event.target as Node) &&
      !openMenuButton.contains(event.target as Node)
    ) {
      closeMenu();
    }
  }
</script>
