---
import { getCollection } from "astro:content";

import type { BreadcrumbTrail } from "@/types/breadcrumb.ts";

import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import ScrollDown from "@/components/ScrollDown.astro";
import Footer from "@/components/Footer.astro";

import "@/styles/all-article-list.css";

interface Props {
  title: string;
  description: string;
  index?: boolean | undefined;
  footerPrev?: string | undefined;
  breadcrumb?: BreadcrumbTrail;
}

const {
  title,
  description,
  index = true,
  footerPrev = "https://pineduck.jp/duck-tail/",
  breadcrumb = undefined,
} = Astro.props;

const allArticles = (await getCollection("tail"))
  .filter((article) => article.data.published)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

const usedCategoryIds = new Set(
  allArticles.map((article) => article.data.category.id),
);

const allCategories = (await getCollection("categories"))
  .filter((category) => usedCategoryIds.has(category.id))
  .sort((a, b) => a.data.order - b.data.order);
---

<!doctype html>
<html lang="ja">
  <head>
    <Head
      title={title}
      description={description}
      index={index}
      breadcrumb={breadcrumb}
    />
  </head>

  <body ontouchstart="">
    <Header />
    <main>
      {
        allCategories.map((category) => (
          <section>
            <a>
              <h2>
                <span class="category-name">{category.data.name}</span>
              </h2>
            </a>
            <ul>
              {allArticles
                .filter((article) => article.data.category.id === category.id)
                .map((article) => (
                  <li>
                    <a>
                      <img
                        src={article.data.heroImage}
                        alt={article.data.title}
                      />
                    </a>
                  </li>
                ))}
            </ul>
          </section>
        ))
      }
      <ScrollDown />
    </main>
    <Footer prevUrl={footerPrev} breadcrumb={breadcrumb} />
  </body>
</html>
